* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin: 0px;
}

.container {
    max-width: 600px;
    padding: 60px 20px;
    margin: auto;
}

.slot_machine {
    position: relative;
}

.slot_machine::before {
    content: "";
    display: block;
    height: 0px;
    width: 100%;
    padding-bottom: 100%;
    background-image: url("../img/slot_machine.svg");
    background-image: url("../img/slot_machine_2.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.slot_machine::after {
    content: "";
    display: block;
    position: absolute;
    top: 58%;
    left: 45%;
    height: 0px;
    width: 100%;
    padding-bottom: 43.3%;
    background-image: url("../img/slot_machine_overlay.svg");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-position: center;
}

.slot_listView_wrapper {
    position: absolute;
    top: 58%;
    left: 50%;
    width: 64%;
    -webkit-transform: translate(-58%, -50%);
        -ms-transform: translate(-58%, -50%);
            transform: translate(-58%, -50%);
}

.slot_listView_wrapper::before {
    content: "";
    display: block;
    width: 100%;
    height: 0px;
    padding-bottom: 33.33%;
    padding-bottom: 66.66%;
}

.slot_listView {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.slot_list {
    list-style: none;
    padding-left: 0px;
    position: relative;
    width: 33.33%;
    margin: 0px;
    padding-top: 16.665%;
}

.slot_itemImg {
    max-width: 100%;
    padding: 3%;
}

.slot_machine_light {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 23%;
    background-image: url("../img/light.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.slot_machine.active .slot_machine_light {
    background-image: url("../img/light.gif");
}

.slot_machine_handle {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 18.1%;
    background-image: url("../img/handle.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: transparent;
}

.slot_machine.active .slot_machine_handle {
    background-image: url("../img/handle.gif");
}

.spin_btn {
    border: 6px solid #9caab0;
    padding: 8px;
    border-radius: 3px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: -ms-grid;
    display: grid;
    place-items: center;
    background-color: red;
    color: white;
    -webkit-box-shadow: inset -2px -2px 5px black;
            box-shadow: inset -2px -2px 5px black;
    cursor: pointer;
    font-weight: 600;
    margin-left: auto;
}

.spin_btn:active {
    -webkit-box-shadow: inset 2px 2px 5px black;
            box-shadow: inset 2px 2px 5px black;
}

.slot_machine .disabled {
    pointer-events: none;
}

#prize_previewContainer {
    position: fixed;
    display: none;
    z-index: 10000;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
}

#prize_preview {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: -ms-grid;
    display: grid;
    place-items: center;
}

#prize_preview img {
    width: 400px;
    max-width: 100%;
}